# este file serve para ignorar os seguintes files (para nao irem para o meu repositorio):
template.aux
template.bbl
template.bcf
template.blg
template.fdb_latexmk
template.fls
template.lof
template.log
template.lot
template.run.xml
template.toc
template.lol
template.pdf
.DS_store
/template.*
.vscode/